#header {
  width: fit-content;
  height: var(--heigth-header);
  display: flex;
  flex-direction: row;
  margin: auto;
  border-radius: 0 0 16px 16px;

  #logo-container {
    transition: 2s;
    width: 30%;
    max-width: 100px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .logo {
      width: 43px;
      position: absolute;
      top: 3px;
      height: 86px;
      left: 0px;
      border-radius: 4px;

      img {
        height: 100%;
        max-height: 80px;
      }
    }
  }

  #menu-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 24px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        padding: 4px 8px;
        float: left;
        margin: 0px var(--space-16px);
        font-size: var(--font-16px);
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: white;
        border: none;
        border-radius: 6px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;

        a {
          width: fit-content;
        }
      }

      li:hover {
        background-color: var(--color-primary);
        box-shadow: 0px 15px 20px rgba(110, 91, 35, 0.4);
        color: var(--color-black);
      }
    }

    #phone-burguer {
      display: none;

      .icon {
        width: var(--font-38px);
        margin: 0;
      }
    }
  }
}
