<section id="devPage" class="page">
    <div class="box hover blur">
        <div class="title">Developer Tools</div>
        <div class="subtitle">Shortcuts</div>
        <div class="group" style="flex-direction: row; justify-content: center;">
            <button class="button" style="margin: 0;" (click)="goToYome()">
                Y.O.ME
            </button>
            <button class="button" style="margin: 0;"(click)="goToShoppingList()">
                Shopping List
            </button>
            <button class="button" style="margin: 0;"(click)="goToFamilyTree()">
                Family Tree
            </button>
        </div>

        <div class="group">
            <div class="task button" (click)="getUsers()">All Users ({{allUsers ? allUsers.length : '-'}})</div>
            <div class="list">
                <div class="dev_line tooltip" *ngFor="let user of allUsers">
                    {{user.name}} {{user.surname}}
                    <div class="tooltiptext">
                        {{user.email}}
                    </div>
                </div>
            </div>
        </div>
        <div class="group">
            <div class="task button" (click)="getGroups()">Get Groups ({{allGroups ? allGroups.length : '-'}})</div>
            <div class="list">
                <div class="dev_line" *ngFor="let group of allGroups">
                    {{group.name}} - <br> {{group.description}}
                </div>
            </div>
        </div>
        <div class="group">
            <div class="list">
                <div class="task button" (click)="getExpenses()">Get Expenses</div>
                <div class="dev_line" *ngFor="let expense of allExpenses">
                    {{expense.title}}
                </div>
            </div>
        </div>


    </div>
</section>