<!-- Contact -->
<section id="contact" class="container" #contact>

        <p class="title">Contact Me</p>
        <p class="subtitle">All my contact info in one place!</p>
        <ul>
                <li>
                        <img class="icon" src="/assets/icons/map.svg">
                        Werever there's Wi-Fi & Coffee
                        <br>(
                        Currently in Argentina)
                </li>
                <li>
                        <img class="icon" src="/assets/icons/email.svg">
                        <a href="mailto:tiagoaltstadt@gmail.com">
                                tiagoaltstadt@gmail.com
                        </a>
                </li>
                <li>
                        <img class="icon" src="/assets/icons/phone.svg">
                        <a href="https://wa.me/2235446119">
                                +54 9 223 544 6119
                        </a>
                </li>
                <li>
                        <img class="icon" src="/assets/icons/linkedin.svg">
                        <a href="https://www.linkedin.com/in/tiagoaltstadt">
                                linkedin.com/in/tiagoaltstadt
                        </a>
                </li>
                <li>
                        <img class="icon" src="/assets/icons/github.svg">
                        <a href="https://github.com/TiagoAltstadt">
                                www.github.com/TiagoAltstadt
                        </a>
                </li>
                <li>
                        <img class="icon" src="/assets/icons/cv.svg">
                        <a href="https://drive.google.com/drive/folders/1QjyH-hKdubGnfPh6Bb7hCSr9pCCLj8NS?usp=sharing">
                                CV (English / Español / Italiano)
                        </a>
                </li>
        </ul>

</section>