#profile-container {
  height: 100vw;
  padding: var(--space-xs);

  .profile-box {
    .container-box {
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);
      min-width: 300px;
      .line {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .label {
          width: fit-content;
        }
        .underline {
          border-bottom: 1px dotted #6f6f6f;
          width: 100%;
        }
        .data {
          width: fit-content;
          white-space: nowrap;
        }
      }
    }
    .button-container {
      display: flex;
      flex-direction: column;
      gap: var(--space-xxs);
      .logout {
        background-color: #af4c4c;

        &:hover {
          background-color: #ab2222;
        }
      }
      .edit {
        background-color: #4caaaf;
        &:hover {
          background-color: #00787f;
        }
      }
      button {
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--color-primary);
        }

        &.disabled {
          background-color: #e0e0e0;
          color: #a0a0a0;
          cursor: not-allowed;
        }
      }
    }
  }
}

@media screen and (max-width: 812px) {
  #profile-container {
    height: 100vw;
    padding: var(--space-24px);

    .profile-box {
      .container-box {
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
        min-width: 100%;

        .line {
          display: flex;
          justify-content: space-between;
          width: 100%;
          min-width: 60px;

          .label {
            width: fit-content;
          }
          .underline {
            border-bottom: 1px solid #6f6f6f;
            width: 100%;
          }
          .data {
            width: fit-content;
            white-space: nowrap;
          }
        }
      }
      .button-container {
        display: flex;
        flex-direction: column;
        button {
          background-color: #af4c4c;
          color: white;
          padding: 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: var(--color-primary);
          }

          &.disabled {
            background-color: #e0e0e0;
            color: #a0a0a0;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
