<div id="profile-container">
    <div class="profile-box hover blur">
        <div class="title">Profile</div>

        <div class="container-box" *ngIf="user">

            <div class="line"><span class="label">Nombre:</span>
                <div class="underline"></div> <span class="data">{{user.name}}</span>
            </div>
            <div class="line"><span class="label">Apellido:</span>
                <div class="underline"></div><span class="data">{{user.surname}}</span>
            </div>
            <div class="line"><span class="label">Email:</span>
                <div class="underline"></div> <span class="data">{{user.email}}</span>
            </div>
            <div class="line"><span class="label">Telefono:</span>
                <div class="underline"></div><span class="data">{{user.phone}}</span>
            </div>
            <div class="line"><span class="label">Direccion:</span>
                <div class="underline"></div><span class="data">{{user.address}}</span>
            </div>
        </div>
        <div class="button-container">
            <button (click)="logout()">Cerrar Sesion</button>
        </div>
    </div>
</div>