<section id="register-page">
    <div class=" register-box hover blur ">
        <div class="title">Register</div>

        <form [formGroup]="registerForm" (ngSubmit)="send()">
            <!-- Name Field -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" formControlName="name" autocomplete="name">
                <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched"
                    class="error-message">
                    {{ getSpecificErrorMessage('name') }}
                </div>
            </div>
            <!-- Surname Field -->
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" id="surname" formControlName="surname" autocomplete="surname">
                <div *ngIf="registerForm.get('surname')?.invalid && registerForm.get('surname')?.touched"
                    class="error-message">
                    {{ getSpecificErrorMessage('surname') }}
                </div>
            </div>
            <!-- Email Field -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" autocomplete="email">
                <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                    class="error-message">
                    {{ getSpecificErrorMessage('email') }}
                </div>
            </div>
            <!-- Phone Field -->
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="number" id="phone" formControlName="phone" autocomplete="phone">
                <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched"
                    class="error-message">
                    {{ getSpecificErrorMessage('phone') }}
                </div>
            </div>
            <!-- Address Field -->
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" id="address" formControlName="address" autocomplete="address">
                <div *ngIf="registerForm.get('address')?.invalid && registerForm.get('address')?.touched"
                    class="error-message">
                    {{ getSpecificErrorMessage('address') }}
                </div>
            </div>
            <!-- Password Field -->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" autocomplete="current-password">
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                    class="error-message">
                    {{ getSpecificErrorMessage('password') }}
                </div>
            </div>

            <!-- Messages and Submit Button -->
            <div *ngIf="sendingMessage" class="waiting-message">{{ sendingMessage }}</div>
            <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

            <input [disabled]="!isFormValid || isSubmitting" type="submit" value="Enviar">
            <div *ngIf="!isFormValid && !isSubmitting" class="error-message">
                {{ getGlobalErrorMessage() }}
            </div>
        </form>

    </div>

</section>