#presentation-container {
  height: 100vw;
  padding: var(--space-xs);

  .hero {
    border-radius: 16px;
    padding: var(--space-xs);
    position: relative; /* For positioning the cursor */
    #typing-text {
      height: 64px;
    }
  }
}
