<!-- Presentation -->
<section id="presentation-container" class="container">
    <section class="box blur hover ">
        <div class="title">Hola!</div>
        <div class="paragraph">

            Mi nombre es <b>Tiago Altstadt</b>. <br>
            Bienvenido a mi portafolio! <br>
            Podras encontrar mi experiencia, mi contacto, y otros datos relacionados. <br>
            Soy <b>Programador Web Full-Stack</b>. Eso significa que me encargo tanto del Front-end como del Back-end.
            <br>
            Ojo, tambien uso este dominio para crear ideas, asi que pueden ir apareciendo otras cosas en el camino. <br>
            Un gusto conocerte, pero en caso de que quieras que yo te conozca a ti tambien, sabes donde contactarme!
        </div>
    </section>
</section>