<!-- Presentation -->
<section id="presentation-container" class="container">
    <section class="hero blur hover">
        <div class="paragraph">
            My name is <b>Tiago Altstadt</b>. I am a <b>Full-stack Web Developer</b><br>
            This is my portfolio, my CV, my Laboratory and my hobbie. You will find everything you need to know about my <br>
            developing skills, but you may also find about my interests, my peronality and probably a lot of little <br>
            projects im working on.
        </div>
    </section>
</section>