<!-- Presentation -->
<section id="presentation-container" class="page">
    <section class="box blur hover ">
        <div class="title">Hola!</div>
        <div class="paragraph">

            ¡Bienvenido a mi portfolio! <br>
            Mi nombre es <b>Tiago Altstad</b> y soy <b>Programador Web Full-Stack</b>. <br>
            ¿Qué significa esto? Significa que me especializo tanto en el Front-end como el Back-end. <br>
            En este sitio web podrás encontrar mi experiencia laboral, conocimientos en programación y medios para
            contactarme. <br>
            Ojo! también uso este dominio para crear ideas, por lo que próximamente irán apareciendo nuevas cosas en el
            camino. <br>
            Es un gusto conocerte, en caso que quieras que yo te conozca también, ¡ya sabes donde contactarme!
        </div>
    </section>
</section>