#leave1 {
    position: fixed;
    left: 90vw;
    height: 286px;
    top: 30px;
    transform: rotate(155deg);
    z-index: -2;
}

#leave2 {
    position: fixed;
    left: 78vw;
    height: 219px;
    top: -25px;
    transform: rotate(269deg);
    z-index: -2;
}
