<section id="yome-page">

    <div class="box hover blur">
        <div class="title">Que es Y-O-Me?</div>
        <div class="text">
            Y-O-Me, o Yome para amigos, es una herramienta que te va a permitir <b>dividir gatos</b> y <b>organizar
                deudas</b> principalmente. Algunas funciones son que podes crear grupos, ponerles nombre, descripciones
            y agregar expensas (leche, huevos, carne del asado) para poder tener un control de como estan los nuemros de
            la ultimajuntada de amigos, evitando tener que estar sacando cuentas aver quien le debe a quien y
            situaciones incomodas.
        </div>
    </div>

    <div class="box-container">
        <div class="row">
            <div class="box blur hover">
                <div class="subtitle">Mis Grupos</div>
                <div class="task button" (click)="getGroups()">Get Groups</div>
                <div class="dev_line" *ngFor="let group of allGroups">
                    <div style="display: flex; flex-direction: column;">
                        <div>{{group.name}} </div>
                        <div style="color: gray;">{{group.description}}</div>
                    </div>
                    <div class="button-danger" (click)="deleteGroup(group.id)">Eliminar</div>
                </div>
                <div class="dev_line" *ngIf="!allGroups">
                    No perteneces a ningun grupo
                </div>
            </div>
            <div class="box blur hover">
                <div class="subtitle">Mis Expensas</div>
                <div class="task button" (click)="getExpenses()">Get Expenses</div>
                <div class="dev_line" *ngFor="let expense of allExpenses">
                    <div style="display: flex; flex-direction: column;">
                        <div>{{expense.title}} </div>
                        <div style="color: gray;" [ngStyle]="{'color':expense.amount>0 ? 'red' : 'green'}">
                            {{expense.amount > 0 ? '- '+expense.amount : expense.amount}}</div>
                    </div>
                    <div class="button-danger" (click)="deleteExpense(expense.id)">Eliminar</div>

                </div>
                <div class="dev_line" *ngIf="!allExpenses">
                    No perteneces a ningun grupo
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box blur hover">
                <div class="subtitle">Crear Grupo</div>
                <form [formGroup]="createGroupForm" (ngSubmit)="createGroup()">
                    <!-- Name Field -->
                    <div class="form-group">
                        <label for="text">Nombre de grupo</label>
                        <input type="text" id="name" formControlName="name">
                        <div *ngIf="createGroupForm.get('name')?.invalid && createGroupForm.get('name')?.touched"
                            class="error-message">
                            {{ getSpecificErrorMessage('name') }}
                        </div>
                    </div>
                    <!-- Description Field -->
                    <div class="form-group">
                        <label for="text">Descripcion del grupo</label>
                        <input type="text" id="description" formControlName="description">
                        <div *ngIf="createGroupForm.get('description')?.invalid && createGroupForm.get('description')?.touched"
                            class="error-message">
                            {{ getSpecificErrorMessage('description') }}
                        </div>
                    </div>
                    <!-- Messages and Submit Button -->
                    <div *ngIf="sendingMessage" class="waiting-message">{{ sendingMessage }}</div>
                    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
                    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

                    <div style="grid-column: span 2;
                    display: grid; gap: var(--space-24px);">
                        <input [disabled]="!isFormValid || isSubmitting" type="submit" value="Enviar">
                        <div *ngIf="!isFormValid && !isSubmitting" class="error-message">
                            {{ getGlobalErrorMessage() }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>