#yome-page {
  height: 100vw;
  padding: var(--space-xs);
  .dev_line {
    background-color: var(--background-soft);
    padding: var(--space-xxs);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
  }
  .box {
    border-radius: 16px;
    width: fit-content;
    margin: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--space-24px);
    gap: var(--space-24px);

    .text {
      text-align: justify;
    }
  }
  .box-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: var(--space-xs);
    gap: var(--space-24px);
    .box {
      width: 45%;
    }
  }
}

@media screen and (max-width: 812px) {
  #yome-page {
    height: 100vw;
    margin-top: var(--space-24px);
    padding: var(--space-12);

    .box {
      border-radius: 16px;
      width: 70%;
      margin: auto;
      height: fit-content;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding: var(--space-24px);
      gap: var(--space-24px);

      .text {
        text-align: justify;
      }
    }
    .box-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: var(--space-xs);
      gap: var(--space-24px);
      .box {
        width: 70%;
      }
    }
  }
}
