<section id="yome-page">
    <div class="box hover blur">
        <div class="title">Que es Y-O-Me?</div>
        <div class="text">
            Y-O-Me, o Yome para amigos, es una herramienta que te va a permitir <b>dividir gatos</b> y <b>organizar
                deudas</b> principalmente. Algunas funciones son que podes crear grupos, ponerles nombre, descripciones
            y agregar expensas (leche, huevos, carne del asado) para poder tener un control de como estan los nuemros de
            la ultimajuntada de amigos, evitando tener que estar sacando cuentas aver quien le debe a quien y
            situaciones incomodas.
        </div>
    </div>

    <div class="box-container">
        <div class="box blur hover">
            <div class="subtitle">Mis Grupos</div>
        </div>
        <div class="box blur hover">
            <div class="subtitle">Mis Amigos</div>
        </div>
    </div>
</section>