#contact {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: var(--space-m);
  margin: auto;

  .container{
    padding: var(--space-xs);
  }

  ul {
    margin: var(--space-40px) auto;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: var(--space-8px);

    li {
      margin: var(--space-8px);
      width: fit-content;
      font-size: var(--font-24px);
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: var(--space-8px);

      img {
        margin-right: var(--space-8px);
      }
    }
  }
}

.icon {
  width: var(--font-24px);
  position: relative;
  bottom: -var(--space-8px);
}
