<!-- Contact -->
<section id="contact" class="page" #contact>

        <div class="box  blur hover">
                <p class="title">Contact</p>

                <div class="container-box">

                        <div class="line"><span class="label">Location:</span>
                                <div class="underline"></div> <span class="data">Wherever there is Coffe & Wi-Fi</span>
                        </div>
                        <div class="line"><span class="label">Email:</span>
                                <div class="underline"></div><span class="data"><a
                                                href="mailto:tiagoaltstadt@gmail.com">
                                                <b>tiagoaltstadt&commat;gmail.com</b>
                                        </a></span>
                        </div>

                        <div class="line"><span class="label">Phone/Whatsapp:</span>
                                <div class="underline"></div><span class="data"><a href="https://wa.me/2235446119">
                                                <b>+54 9 223 544 6119</b>
                                        </a></span>
                        </div>
                        <div class="line"><span class="label">Linkedin:</span>
                                <div class="underline"></div><span class="data"> <a
                                                href="https://www.linkedin.com/in/tiagoaltstadt">
                                                <b>tiagoaltstadt</b>
                                        </a></span>
                        </div>
                        <div class="line"><span class="label">Github:</span>
                                <div class="underline"></div><span class="data"> <a
                                                href="https://github.com/TiagoAltstadt">
                                                <b>TiagoAltstadt</b>
                                        </a></span>
                        </div>
                        <p class="subtitle">Curriculum Vitae</p>

                        <div class="cv-container">
                                <a target="_blank" href="https://docs.google.com/document/d/1oaXFuf0tbumddEo4_UsOAqEccY3Kp74jZZi6iEbaSNA/edit?usp=drive_link"
                                        class="cv-box">
                                        English <br>
                                        Harvard Format <br>
                                        CV
                                </a>
                                <a target="_blank" href="https://drive.google.com/file/d/1KNPr1txNmIvXdLIO2iJNIf-F-beD2qn1/view?usp=drive_link"
                                        class="cv-box">
                                        English <br>
                                        Designed <br>
                                        CV
                                </a>
                                <a target="_blank" href="https://docs.google.com/document/d/1OMbC7PFybZ76p1uQ1UQbyJU_Bnn-RSwKYS8NWx5cO58/edit?usp=drive_link"
                                        class="cv-box">
                                        Español <br>
                                        Harvard Format <br>
                                        CV
                                </a>
                                <a target="_blank" href="https://drive.google.com/file/d/1CmiYcJxnqJGwnvlfylL1gz4shg8pzySU/view?usp=drive_link"
                                        class="cv-box">
                                        Español <br>
                                        Tradicional <br>
                                        CV
                                </a>
                        </div>
                </div>



        </div>

</section>