<!-- Contact -->
<section id="contact" class="page" #contact>

        <div class="box  blur hover">
                <p class="title">Contact</p>

                <div class="container-box">

                        <div class="line"><span class="label">Location:</span>
                                <div class="underline"></div> <span class="data">Wherever there is Wi-Fi</span>
                        </div>
                        <div class="line"><span class="label">Email:</span>
                                <div class="underline"></div><span class="data"><a
                                                href="mailto:tiagoaltstadt@gmail.com">
                                                <b>tiagoaltstadt@gmail.com</b>
                                        </a></span>
                        </div>

                        <div class="line"><span class="label">Phone/Whatsapp:</span>
                                <div class="underline"></div><span class="data"><a href="https://wa.me/2235446119">
                                                <b>+54 9 223 544 6119</b>
                                        </a></span>
                        </div>
                        <div class="line"><span class="label">Linkedin:</span>
                                <div class="underline"></div><span class="data"> <a
                                                href="https://www.linkedin.com/in/tiagoaltstadt">
                                                <b>tiagoaltstadt</b>
                                        </a></span>
                        </div>
                        <div class="line"><span class="label">Github:</span>
                                <div class="underline"></div><span class="data"> <a
                                                href="https://github.com/TiagoAltstadt">
                                                <b>TiagoAltstadt</b>
                                        </a></span>
                        </div>
                        <div class="line">
                                <span class="label"> <span style="white-space: nowrap;">Curriculum
                                                Vitae:</span> </span>
                                <div class="underline"></div>
                                <span class="data">
                                        <a target="_blank"
                                                href="https://drive.google.com/drive/folders/1Ai9B4KA-T3ASjUnhaLrqRwjkw-rNjQl6?usp=sharing">
                                                <b>Designed</b>
                                        </a></span>
                                <span style="margin: 0 4px;">or</span>
                                <span class="data">
                                        <a target="_blank"
                                                href="https://drive.google.com/drive/folders/1TEgdXpWuuh4nq8qLZwR1OTFeShn136ZT?usp=sharing">
                                                <b> Harvard format</b>
                                        </a>
                                </span>
                        </div>
                </div>



        </div>

</section>