<!-- Contact -->
<section id="contact" #contact>

        <div class="box  blur hover">
                <p class="title">Contacto</p>
                <ul>
                        <li>
                                <img class="icon" src="/assets/icons/map.svg">
                                Donde hay Wi-Fi & Cafe
                                <br>
                                (En general en Argentina)
                        </li>
                        <li>
                                <img class="icon" src="/assets/icons/email.svg">
                                <a href="mailto:tiagoaltstadt@gmail.com">
                                        tiagoaltstadt@gmail.com
                                </a>
                        </li>
                        <li>
                                <img class="icon" src="/assets/icons/phone.svg">
                                <a href="https://wa.me/2235446119">
                                        +54 9 223 544 6119
                                </a>
                        </li>
                        <li>
                                <img class="icon" src="/assets/icons/linkedin.svg">
                                <a href="https://www.linkedin.com/in/tiagoaltstadt">
                                        tiagoaltstadt
                                </a>
                        </li>
                        <li>
                                <img class="icon" src="/assets/icons/github.svg">
                                <a href="https://github.com/TiagoAltstadt">
                                        TiagoAltstadt
                                </a>
                        </li>
                        <li>
                                <img class="icon" src="/assets/icons/cv.svg">
                                <a
                                        href="https://drive.google.com/drive/folders/1QjyH-hKdubGnfPh6Bb7hCSr9pCCLj8NS?usp=sharing">
                                        CV's <br>
                                        (Ingls-Español-Italiano)
                                </a>
                        </li>
                </ul>
        </div>

</section>