#contact {
  

  .container{
    padding: var(--space-xs);
  }

  ul {
    margin: var(--space-40px) auto;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: var(--space-8px);

    li {
      margin: var(--space-8px);
      width: fit-content;
      font-size: var(--font-24px);
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: var(--space-8px);

      img {
        margin-right: var(--space-8px);
      }
    }
  }
}

.icon {
  width: var(--font-24px);
  position: relative;
  bottom: -var(--space-8px);
}

@media screen and (max-width: 812px) {
  #contact {
   
    .box{
      gap: 8px;
    }
    .subtitle{
      text-align: center;
    }
  
    .container{
      padding: var(--space-xs);
    }
  
    ul {
      list-style-type: none;
      padding: 0px;
      display: flex;
      flex-direction: column;
      margin: 0;
      gap: var(--space-8px);
  
      li {
        margin: var(--space-8px);
        width: fit-content;
        font-size: var(--font-20px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: var(--space-8px);
  
        img {
          margin-right: var(--space-8px);
        }
      }
    }
  }
  
}
