.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: calc(100vh + topBarHeight);
    width: 90%;
    margin: auto;
    margin-top: var(--space-32px);

    .title {
        margin-top: var(--space-32px);
        width: fit-content;
        margin: 0px auto;
        font-size: var(--font-38px);
    }

    .subtitle {
        width: fit-content;
        margin: 0px auto;
        font-size: var(--font-32px);
        opacity: 0.5;
    }

    .sub-subtitle {
        font-size: var(--font-24px);
        text-align: center;
    }

    .paragraph {
        width: fit-content;
        font-size: var(--font-16px);
    }

}

#presentation-container {
    height: 85vh;

    #hello {
        font-size: var(--font-38px);
        margin: var(--space-32px) 0px 0px 0px;
    }

    #name {
        font-size: var(--font-38px);
        margin: var(--space-8px) 0px 0px 0px;
    }

    #presentation {
        font-size: var(--font-24px);
    }

}

#bio {
    .row-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: var(--space-8px);

        .half-block {
            width: 40%;
            min-width: 220px;
            background-color: var(--background-soft);
            padding: var(--space-12px);
            border-radius: var(--border-radius);
        }
    }
}

#experience {}

#contact {
    display: flex;
    flex-direction: column;
    ul {
        margin: var(--space-40px) auto;
        list-style-type: none;

        li {
            margin: var(--space-8px);
            width: fit-content;
            font-size: var(--font-24px);

            img {
                margin-right: var(--space-8px);
            }
        }
    }

}

.arrowsUp {
    width: fit-content;
    margin: 5px auto 18px 48%;

    .arrow1 {
        width: var(--space-32px);
    }

    .arrow2 {
        width: var(--font-16px);
        position: relative;
        bottom: -9px;
        left: -24px;
    }
}


.arrowsDown {
    width: fit-content;
    margin: auto auto 18px 48%;

    .arrow1 {
        width: var(--font-16px);
    }
    
    .arrow2 {
        width: var(--space-32px);
        position: relative;
        bottom: -25px;
        left: -24px;
    }
}

.icon {
    width: var(--font-24px);
    position: relative;
    bottom: -var(--space-8px);
}

@keyframes downAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
        /* Simulate movement to the right */
    }

    100% {
        transform: translateY(0);
    }
}

.animatedClass {
    animation: downAnimation 2s ease-in-out infinite;
    /* Adjust the duration and easing as needed */
}

//------------------------------SCSS MEDIA QUERIES TEMPLATE------------------------------

/* Custom CSS for small screens (max-width: 768px) */
@media all and (max-width: 425px) {
    
    .container {
        display: flex;
        flex-direction: column;
        overflow: visible;
        width: 90%;
        margin: auto;
        margin-top: 30px;
    
    }
    #presentation-container {
    
        #hello {
            font-size: 32px;
            margin: 32px 0px 0px 0px;
        }
    
        #name {
            font-size: 24px;
            margin: 8px 0px 0px 0px;
        }
    
        #presentation {
            font-size: 20px;
        }
    
    }
    
}