<section id="presentation-container">
    <p class="hello">Hello World,</p>
    <p class="name">I'm Tiago Altsatdt</p>
    <p class="presentation">And I did this page/project, and many more. But this one is special,
        this one serves two main porposes: your first impression of me, and indexing all my relevant information. But if
        you stay here long enough, you may find I have some other funny things going around here...</p>
</section>

<app-project-card [projects]="projects"></app-project-card>