<!---------- Header ---------->
<app-header (menStatusChange)="toggleMenu($event)"></app-header>
<div id="menu" *ngIf="menuState">
    <!-- <ul>
        <li *ngFor="let headerOption of headerOptions">
            <a (click)="navigationFunction(headerOption.link)"> {{headerOption.tag}}</a>
        </li>
    </ul> -->
</div>
<!---------- Main Content (Dynamic)---------->
<div id="main-container" [ngStyle]="{'filter': menuState ? 'blur(4px)' : 'blur(0px)'}">
    <router-outlet></router-outlet>
</div>