:root {
  --color-primary: rgb(0, 255, 255);
  --color-black: rgb(60, 60, 60);

  --bottom-shadow: 0 4px 6px -6px #222;
  --background-soft: rgba(0, 0, 0, 0.178);
  --background-primary: rgb(44, 44, 44);
  transition: 2s;
  --border-radius: 4px;

  // Transition duration
  --transition-time: 0.3s;

  // Tamaños de fonts
  --font-xxl: 3em; /* Extra Extra Large (42px) */
  --font-xl: 2.5em; /* Extra Large (38px) */
  --font-l: 2em; /* Large (32px) */
  --font-m: 1.5em; /* Medium (24px) */
  --font-s: 1.125em; /* Small (18px) */
  --font-xs: 1em; /* Extra Small (16px) */
  --font-xxs: 0.875em; /* Extra Extra Small (14px) */
  --font-xxxs: 0.75em; /* Extra Extra Extra Small (12px) */

  --font-42px: 3em;
  --font-38px: 2.5em;
  --font-32px: 2em;
  --font-24px: 1.5em;
  --font-18px: 1.125em;
  --font-16px: 1em;
  --font-14px: 0.875em;
  --font-12px: 0.75em;

  --font-color-primary: white;
  // Tamaño de espacios (Margenes y paddings)
  --space-xxl: 96px; /* Extra Extra Large */
  --space-xl: 88px; /* Extra Large */
  --space-l: 80px; /* Large */
  --space-m: 72px; /* Medium */
  --space-s: 64px; /* Small */
  --space-xs: 56px; /* Extra Small */
  --space-xxs: 48px; /* Extra Extra Small */
  --space-xxs: 40px; /* Extra Extra Small */
  --space-xxs: 32px; /* Extra Extra Small */
  --space-xxs: 24px; /* Extra Extra Small */
  --space-xxs: 16px; /* Extra Extra Small */
  --space-xxs: 12px; /* Extra Extra Small */
  --space-xxs: 8px; /* Extra Extra Small */

  --space-96px: 96px;
  --space-88px: 88px;
  --space-80px: 80px;
  --space-72px: 72px;
  --space-64px: 64px;
  --space-56px: 56px;
  --space-48px: 48px;
  --space-40px: 40px;
  --space-32px: 32px;
  --space-24px: 24px;
  --space-16px: 16px;
  --space-12px: 12px;
  --space-8px: 8px;
  // Viewport
  --heigth-header: 10vh;
  --heigth-body: 90vh;

  scroll-behavior: smooth;
  color: var(--font-color-primary);
  background-color: var(--background-primary);
}

* {
  // Variables
  $primary-color: #4caf50;
  $secondary-color: #f1f1f1;
  $input-border-color: #ccc;
  $input-focus-border-color: $primary-color;
  $input-padding: 10px;
  $input-margin-bottom: 15px;
  $label-color: #333;
  $button-background-color: $primary-color;
  $button-hover-background-color: darken($primary-color, 10%);
  $button-color: #fff;
  $button-padding: 10px 20px;
  $button-border-radius: 5px;
  $max-width: 800px;

  // Scrollbar
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 141, 141);
  }

  body {
    margin: 0px;
    min-width: 375px;
    @media screen and (max-width: 812px) {
      font-size: var(--font-12px);
    }

    .box {
      margin: auto;
      padding: 10px var(--space-xs);
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);
      width: 70%;
      padding-bottom: 40px;
      @media screen and (max-width: 812px) {
        width: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: var(--space-xs);
        width: 70%;
        padding: var(--space-24px);
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    .blur {
      background: var(--color-black);
      border-radius: 16px; /* Rounded corners */
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
      // backdrop-filter: blur(7.3px); /* Blurs the background behind this element */
      -webkit-backdrop-filter: blur(
        7.3px
      ); /* Ensures compatibility with Safari */
    }

    .bigTitle {
      margin-top: var(--space-32px);
      width: fit-content;
      margin: 0px auto;
      font-size: var(--font-xxl);
      font-weight: 600;
    }
    .title {
      margin-top: var(--space-32px);
      width: fit-content;
      margin: 0px auto;
      font-size: var(--font-38px);
    }

    .subtitle {
      width: fit-content;
      margin: 0px auto;
      font-size: var(--font-32px);
    }

    .paragraph {
      margin: 0px auto;
      font-weight: 400;
      font-size: var(--font-m);
      opacity: 0.5;
    }

    form {
      padding: 20px;
      max-width: $max-width;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      .form-group {
        display: flex;
        flex-direction: column; /* Change to column to stack label and input vertically */
        align-items: flex-start; /* Align items to the start */
        gap: 5px; /* Adjust gap between label and input */
      }

      .form-group-full {
        display: flex;
        flex-direction: column; /* Change to column for consistency */
        align-items: flex-start; /* Align items to the start */
        gap: 5px;
        grid-column: span 2;
      }

      .form-group-group {
        display: flex;
        flex-direction: column; /* Stack checkboxes vertically */
        gap: 10px; /* Space between checkboxes */
        grid-column: span 2; /* Make .form-group-group span across two columns */
      }

      .form-group.full-width {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%; /* Make each checkbox occupy full width */
        gap: 10px; /* Space between checkbox and label */
      }

      .form-group.full-width input[type="checkbox"] {
        flex-shrink: 0; /* Prevent checkbox from shrinking */
        width: fit-content;
      }

      .form-group.full-width label {
        flex-grow: 1; /* Make the label take remaining space */
        margin-left: 5px; /* Space between checkbox and label */
      }

      input,
      textarea {
        width: 100%; /* Ensure input and textarea fit within the form group */
        padding: $input-padding;
        margin-bottom: $input-margin-bottom;
        border: 1px solid $input-border-color;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box; /* Include padding and border in the element's total width and height */

        &:focus {
          border-color: $input-focus-border-color;
          outline: none;
        }
      }

      textarea {
        resize: vertical;
      }

      input {
        margin: 0;
        color: var(--color-black);
      }
      input[type="checkbox"] {
        margin: 0;
      }

      input[type="submit"] {
        background-color: $button-background-color;
        color: $button-color;
        padding: $button-padding;
        border: none;
        border-radius: $button-border-radius;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $button-hover-background-color;
        }

        &.disabled {
          background-color: #e0e0e0;
          color: #a0a0a0;
          cursor: not-allowed;
        }
      }

      .waiting-message,
      .success-message,
      .error-message {
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 16px;
      }

      .waiting-message {
        background-color: #fff3cd;
        color: #856404;
        border: 1px solid #ffeeba;
      }

      .success-message {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
      }

      .error-message {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
      }
    }

    .hover {
      transition: var(--transition-time);
      transform: translateY(0px);
      box-shadow: none;
    }

    .hover:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 12px var(--color-primary);
      transition: transform var(--transition-time),
        box-shadow var(--transition-time);
    }
  }
}
