/* You can add global styles to this file, and also import other style files */
* {
  scroll-behavior: smooth;

  a {
    text-decoration: none;
    color: inherit;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 141, 141);
  }

  html {
    height: -webkit-fill-available;
  }

  body {
    height: -webkit-fill-available;
    margin: 0px;
    overflow-x: hidden;
    background-color: var(--background-primary);
    min-width: 375px;

    .container {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: calc(100vh);
      width: 90%;
      margin: auto;
      margin-top: var(--space-32px);

      .title {
        margin-top: var(--space-32px);
        width: fit-content;
        margin: 0px auto;
        font-size: var(--font-38px);
      }

      .subtitle {
        width: fit-content;
        margin: 0px auto;
        font-size: var(--font-32px);
        opacity: 0.5;
      }

      .sub-subtitle {
        font-size: var(--font-24px);
        text-align: center;
      }

      .paragraph {
        width: fit-content;
        font-size: var(--font-16px);
      }

      .icon {
        width: var(--font-24px);
        position: relative;
        bottom: -var(--space-8px);
      }
    }
  }
}

:root {
  --bottom-shadow: 0 4px 6px -6px #222;
  --background-soft: rgba(0, 0, 0, 0.178);
  --background-primary: #f5f1ec;
  transition: 2s;
  --border-radius: 4px;

  // Tamaños de fonts
  --font-42px: 3em;
  --font-38px: 2.5em;
  --font-32px: 2em;
  --font-24px: 1.5em;
  --font-18px: 1.125em;
  --font-16px: 1em;
  --font-14px: 0.875em;
  --font-12px: 0.75em;
  // Tamaño de espacios (Margenes y paddings)
  --space-96px: 96px;
  --space-88px: 88px;
  --space-80px: 80px;
  --space-72px: 72px;
  --space-64px: 64px;
  --space-56px: 56px;
  --space-48px: 48px;
  --space-40px: 40px;
  --space-32px: 32px;
  --space-24px: 24px;
  --space-16px: 16px;
  --space-12px: 12px;
  --space-8px: 8px;
  // Viewport
  --heigth-header: 10vh;
  --heigth-body: 90vh;
}

@media all and (max-width: 425px) {
  :root {
    --heigth-header: 10vh;
    --heigth-body: 90vh;
  }

  body {
    .container {
      .title {
        margin-top: var(--space-32px);
        width: fit-content;
        margin: 0px auto;
        font-size: var(--font-32px);
      }

      .subtitle {
        width: fit-content;
        margin: 0px auto;
        font-size: var(--font-24px);
        opacity: 0.7;
      }

      .sub-subtitle {
        font-size: var(--font-24px);
        text-align: center;
      }

      .paragraph {
        width: fit-content;
        font-size: var(--font-14px);
      }
    }
  }
}
