<section id="experience-page" class="page" #experience>

    <div class="box hover blur companies">
        <p class="title">EXPERIENCIA</p>
        <div class="buttons">
            <button (click)="toggleDevFunc()">{{!toggleDev ? '❌ ' : '✅ '}}Programador
            </button>
            <button (click)="toggleCookFunc()">{{!toggleCook ? '❌ ' : '✅ '}}Cocinero</button>
            <div style="text-align: center; margin: auto 0; color: gray;">
                Proximamente...
            </div>
            <button disabled style="color: gray;">Pais</button>
            <button disabled style="color: gray;">Año</button>
        </div>
        <ng-container *ngFor="let job of work;  index as i">
            <div class="item"
                *ngIf="(job.category === 'developer' && toggleDev) || (job.category === 'cook' && toggleCook) ">
                <div class="image"><img src="/assets/banners/{{job.image}}.png"></div>
                <div>
                    <a href="{{job.link}}">
                        <p>{{job.tag}}</p>
                    </a>
                    <div class="date">{{job.date}}</div>
                    <div class="text">
                        {{job.description}}
                    </div>
                </div>
            </div>
        </ng-container>

    </div>

    <div class="box hover blur companies" *ngIf="toggleDev">
        <p class="subtitle">DESARROLLADOR FREELANCE</p>
        <div class="item" *ngFor="let job of freelance">
            <div class="image">
                <img src="/assets/banners/{{job.image}}.png">
            </div>
            <div>
                <a href="{{job.link}}">
                    <p>{{job.tag}}</p>
                </a>
                <div class="date">{{job.date}}</div>
                <div class="text">
                    {{job.description}}
                </div>
            </div>
        </div>

    </div>

    <div class="box hover blur companies" *ngIf="toggleDev">
        <p class="subtitle">PROYECTOS</p>
        <div class="item" *ngFor="let job of projects">
            <div class="image">

                <img src="/assets/banners/{{job.image}}.png">
            </div>
            <div>
                <a href="{{job.link}}">
                    <p>{{job.tag}}</p>
                </a>
                <div class="date">{{job.date}}</div>
                <div class="text">
                    {{job.description}}
                </div>
            </div>
        </div>

    </div>

</section>