<section id="experience-page" #experience>

    <div class="box hover blur experience">
        <p class="title">Experience</p>
    </div>
    <div class="box hover blur companies box-thingy">
        <p class="subtitle">Companies</p>
        <div class="item" *ngFor="let job of work">
            <div class="image"><img src="/assets/banners/{{job.image}}_banner.png"></div>
            <div>
                <a href="{{job.link}}">
                    <p>{{job.tag}}</p>
                </a>
                <div class="date">{{job.date}}</div>
                <div class="text">
                    {{job.description}}
                </div>
            </div>
        </div>

    </div>

    <div class="box hover blur companies">
        <p class="subtitle">Freelance</p>
        <div class="item" *ngFor="let job of freelance">
            <div class="image">
                <img src="/assets/banners/{{job.image}}_banner.png">
            </div>
            <div>
                <a href="{{job.link}}">
                    <p>{{job.tag}}</p>
                </a>
                <div class="date">{{job.date}}</div>
                <div class="text">
                    {{job.description}}
                </div>
            </div>
        </div>

    </div>
    <div class="box hover blur companies">
        <p class="subtitle">Projects</p>
        <div class="item" *ngFor="let job of projects">
            <div class="image">

                <img src="/assets/banners/{{job.image}}_banner.png">
            </div>
            <div>
                <a href="{{job.link}}">
                    <p>{{job.tag}}</p>
                </a>
                <div class="date">{{job.date}}</div>
                <div class="text">
                    {{job.description}}
                </div>
            </div>
        </div>

    </div>

</section>