<!-- Biography -->
<section id="bio" class="container" #bio>


    <div class="box hover blur biography">
        <p class="title">Biography</p>
    </div>

    <div class="row-container">
        <div class="half-block blur hover box-thingy">
            <p class="sub-subtitle">Sobre mi:</p>
            <p class="paragraph">Como ya te he contado, mi nombre es <b>Tiago Altstadt</b>. <br>
                Y soy un <b>Programador Web Full Stack</b>.
                Actualmente estoy estudiando <b>Ciencia de Datos e Inteligencia Artificial</b>, trabajando como
                programador, y dirigiendo varios proyectos persnales. <br>
                La programacion me encanta, me apasiona, me da lugar a fluir libremente y poder virtualizar todas mis
                ideas para que pasen de ser sueños, a metas.
                Me gusta trabajar en equipo, es una muy buena manera de aprender y de tener perspectiva. Me manejo en
                <b>Español</b>, <b>Ingles</b> y un buen nivel de <b>Italiano</b>. Soy curioso, auto exigente y extremadamente versatil. <br>
                Aqui te dejo las tecnologias con las que mas me llevo, pero, si no encontras algo que estes buscando, no te desanimes, mi mas grande skill es que: <br>
                <b>Lo que no se todavia, lo aprendo.</b>

            </p>
        </div>
        <div class="code-block hover">
            <div class="code-title">
                <div id="circle1"></div>
                <div id="circle2"></div>
                <div id="circle3"></div>
                <div class="text"><img class="icon" src="/assets/icons/html-5.svg">Mi skillset.html<img
                        class="icon close" src="/assets/icons/close.svg"></div>

            </div>
            <div class="code-content">
                <pre>
                    &lt;<span style="color: #e84a59;">ul</span>&gt;
                    <ng-container style="max-height: 21px;" *ngFor="let technologie of technologies"> 
                        &lt;<span style="color: #e84a59;">li</span>&gt;{{technologie}}&lt;/ <span style="color: #e84a59;">li</span>&gt;
                    </ng-container>
                    &lt;/ <span style="color: #e84a59;">ul</span>&gt;
                </pre>
            </div>
        </div>
    </div>


</section>