<!-- Biography -->
<section id="bio" class="page" #bio>


    <div class="row-container">

        <div class="box blur hover">
            <p class="title">Biography</p>
            <p class="sub-subtitle">Sobre mi:</p>
            <p class="paragraph">

                Me llamo <b>Tiago Altstadt</b>. <br>
                Y soy un <b>Programador Web Full Stack</b>. <br>
                Desde muy chico me encontré entre computadoras, dispositivos electrónicos y páginas web. En la
                programación encontré no sólo mi vocación, si no también un espacio donde poder dar lugar a mis ideas y
                sensaciones. <br>
                Actualmente me encuentro en el estudio de <b>Ciencia de Datos e Inteligencia Artificial</b>, además de
                mi
                trabajo como programador y proyectos personales. <br>
                Creo que el trabajo en equipo es el mejor camino en el desarrollo de la profesión, el cual no sólo me ha
                dotado de inmensa perspectiva, si no también me ha enseñado gran parte de lo que sé hoy. <br>
                Hablo <b>Español</b>, <b>Inglés</b> e <b>Italiano</b>. <br>
                Me dejo llevar mucho por mi curiosidad y por mis ganas de aprender cosas nuevas. Tengo gran
                adaptabilidad a nuevos espacios y lugares, y continuamente trabajo para ser mejor. <br>
                A continuación, observarás las tecnologías con las que mejor trabajo; no te desanimes si no encontras la
                que estás buscando, la frase que mejor me describe es: <b>"Lo que no sé, lo aprendo"</b>

            </p>
        </div>

        <div class="code-block hover">
            <div class="code-title">
                <div id="circle1"></div>
                <div id="circle2"></div>
                <div id="circle3"></div>
                <div class="text"><img class="icon" src="/assets/icons/html-5.svg">Mi skillset.html<img
                        class="icon close" src="/assets/icons/close.svg"></div>

            </div>
            <div class="code-content">
                <pre>
                    &lt;<span style="color: #e84a59;">ul</span>&gt;
                    <ng-container style="max-height: 21px;" *ngFor="let technologie of technologies"> 
                        &lt;<span style="color: #e84a59;">li</span>&gt; <a href="{{technologie.link}}" target="_blank">{{technologie.name}}</a> &lt;/ <span style="color: #e84a59;">li</span>&gt;
                    </ng-container>
                    &lt;/ <span style="color: #e84a59;">ul</span>&gt;
                </pre>
            </div>
        </div>
    </div>


</section>